<div
  data-pencil-name="{{PENCIL_NAME}}"
  class="box-border [flex:1_1_0] h-fit flex flex-col gap-[12px] p-[28px_24px] justify-start items-start bg-[#FFFFFF]"
>
  <div
    data-pencil-name="FAQ Q"
    class="text-[18px]/[27px] box-border w-full text-[#2E3334] font-['Shippori_Mincho',system-ui,sans-serif] font-medium text-left"
  >
    {{QUESTION}}
  </div>
  <div
    data-pencil-name="FAQ A"
    class="text-[14px]/[27px] box-border w-full text-[#4A5456] font-['Shippori_Mincho',system-ui,sans-serif] font-normal text-left"
  >
    {{ANSWER}}
  </div>
</div>
