<article
  data-pencil-name="{{PENCIL_NAME}}"
  class="box-border [flex:1_1_0] h-fit flex flex-col gap-[14px] justify-start items-start"
>
  <img
    data-pencil-name="News Img"
    src="{{IMAGE}}"
    alt="{{TITLE}}"
    class="box-border w-full h-[230px] shrink-0 object-cover"
  />
  <div
    data-pencil-name="News Body"
    class="box-border w-full h-fit shrink-0 flex flex-col gap-[8px] justify-start items-start"
  >
    <time
      datetime="{{DATE_ISO}}"
      data-pencil-name="News Date"
      class="text-[14px]/[normal] box-border text-[#4A5D5B] font-['Cormorant_Garamond',system-ui,sans-serif] font-normal text-left [white-space:nowrap]"
    >
      {{DATE}}
    </time>
    <h3
      data-pencil-name="News Title"
      class="text-[16px]/[26px] box-border w-full text-[#2E3334] font-['Shippori_Mincho',system-ui,sans-serif] font-medium text-left"
    >
      {{TITLE}}
    </h3>
  </div>
</article>
